:root {
  --white:  #FFFFFF; /* 1.00 */
  --text:   #D9CCE6; /* 0.75 */
  --tool:   #B399CC; /* 0.50 */
  --scroll: #8C66B3; /* 0.25 */
  --back:   #663399; /* 0.00 */
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local("Ubuntu Light"),
    local("Ubuntu-Light"),
    url("fonts/Ubuntu-Light.woff2") format("woff2"),
    url("fonts/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Ubuntu Bold"),
    local("Ubuntu-Bold"),
    url("fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-display: block;
  src:
    local("Material Symbols Outlined"),
    local("MaterialSymbols-Outlined"),
    url("fonts/MaterialSymbolsOutlined.woff2") format("woff2"),
    url("fonts/MaterialSymbolsOutlined.ttf") format("truetype");
}

html,
body,
textarea {
  margin: 0;
  border: 0;
  padding: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  color: var(--text);
  background-color: var(--back);
  -webkit-tap-highlight-color: transparent;

  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;

  touch-action: pan-y;
}

textarea {
  display: block;  /* Avoid scrollbar and visible background */
  outline: 0;  /* Avoid outline on focus */
  resize: none;
  scrollbar-color: var(--scroll) var(--back);
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.margin,
.main {
  display: flex;
  min-width: 2rem;
  min-height: 2rem;
}

.double {
  min-width: 4rem;
}

.margin {
  flex: 0 1;
}

.main {
  flex: 1 0;
}

.tools {
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--tool);
}

#header {
  font-weight: 700;
}

.icon {
  cursor: pointer;
  user-select: none;

  font-family: "Material Symbols Outlined";
  font-style: normal;
  /* Let's inherit `font-weight` from text. */
  font-size: 24px;
  font-variation-settings: "opsz" 24, "GRAD" -25; /* Dark Mode */

  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
}

.icon:active {
  color: var(--back);
  background-color: var(--tool);
  border-radius: 2rem;
}

::selection {
  color: var(--back);
  background-color: var(--tool);
}
