/** variables **/

:root {
  --high: #DDCCFF;
  --text: #BBAADD;
  --none: #9988BB;
  --tool: #776699;
  --hint: #554477;
  --back: #332255;

  --icon: 2rem;
  --header: 1.2rem;
  --char: 1rem;
  --gap: 0.5rem;
  --small-gap: 0.2rem;

  --thin: 0.5px solid var(--hint);

  --anim: 0.5s;
  --quick: 0.25s;

  /* `@font-face.font-weight` did not support var() */
}

/** fonts **/

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-display: block;
  src:
    local("Material Symbols Outlined"),
    local("MaterialSymbols-Outlined"),
    url("fonts/MaterialSymbolsOutlined.ttf") format("truetype");
}

@font-face {
  font-family: "SourceCodePro";
  font-display: swap;
  src:
    local("Source Code Pro"),
    url("fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local("Ubuntu Light"),
    local("Ubuntu-Light"),
    url("fonts/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Ubuntu Bold"),
    local("Ubuntu-Bold"),
    url("fonts/Ubuntu-Bold.ttf") format("truetype");
}

/** defaults for all elements **/

* {
  box-sizing: border-box;

  margin: 0;
  outline: 0;  /* Avoid outline on focus */
  border: 0;
  padding: 0;

  color: var(--text);
  background-color: var(--back);
  -webkit-tap-highlight-color: transparent;

  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: var(--char);
}

/** icon **/

.icon {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  font-variation-settings: "opsz" 24, "GRAD" -25; /* Dark Mode */

  display: inline-block;
  line-height: 1;
  vertical-align: middle;

  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
}

/** html, body **/

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* Disable "pull-to-refresh" */
  overscroll-behavior-y: contain;
}

/** input **/

input {
  width: 100%;
}

input::placeholder {
  color: var(--hint);
}

/** list **/

ul {
  list-style-type: square;
  padding-left: 1em;
}

li::marker {
  color: var(--hint);
}

/** clickable **/

a {
  text-decoration: none;
  font-weight: 700;
}

a,
.icon {
  color: var(--tool);
}

.button {
  cursor: pointer;
  user-select: none;
}

.button.icon,
.button.rounded {
  border-radius: var(--icon);
}

.button.rounded {
  padding: var(--gap);
}

a:active,
a:active > .icon,
.button:active,
.button:active > .icon,
::selection {
  color: var(--high);
  background-color: var(--hint);
}

/** bold **/

b {
  font-weight: 700;
}

/** header **/

.header,
.header > span {
  font-size: var(--header);
  font-weight: 700;
  color: var(--tool);
  text-align: center;
}

.header > span {
  padding-left: var(--gap);
}

/** centered **/

.centered {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered.full {
  height: 100%;
  justify-content: center;
}

.centered > * {
  margin: var(--char);
}

/** page screen = attics + frame **/

.page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.attic {
  flex: none;
  width: 100%;
  height: var(--icon);
  border-bottom: var(--thin);
}

.attic > * {
  width: 100%;
  height: 100%;
}

.frame {
  flex: auto;
  width: 100%;
  height: 100%;

  display: grid;

  grid-template-columns:
    repeat(2, var(--icon))
    1fr
    repeat(2, var(--icon))
    1fr
    repeat(2, var(--icon))
    1fr
    repeat(2, var(--icon));

  grid-template-rows:
    repeat(3, var(--icon))
    1fr
    repeat(3, var(--icon))
    1fr
    repeat(3, var(--icon));

  grid-template-areas:
    /* Areas/shortcuts */
    "m p q q q q q q q g s"
    ". t t t t t t t t t f"
    ". t t t t t t t t t j"
    ". t t t t t t t t t ."
    "o t t t t t t t t t u"
    "b t t t t t t t t t n"
    "h t t t t t t t t t d"
    ". t t t t t t t t t ."
    "e t t t t t t t t t x"
    "l t t t t t t t t t c"
    "k w . I i . z Z . v a";

  place-items: center;
}

.frame > .header {
  grid-area: q;
  width: 100%;
  overflow-x: auto;
  color: var(--high);
}

.frame > .header.pinned {
  color: var(--tool);
}

.frame > .icon {
  transition:
    opacity var(--anim),
    visibility var(--anim);
}

.frame.zen-mode > .icon {
  opacity: 0;
  visibility: hidden;
}

textarea {
  grid-area: t;
  width: 100%;
  height: 100%;
  display: block;  /* Avoid parent scrollbar and visible background */
  scrollbar-color: var(--hint) var(--back);
  resize: none;
  touch-action: pan-y;
}

textarea.mono {
  font-family: "SourceCodePro", monospace;
  font-weight: 400;
}

/** attic forms: menu, font, line **/

.menu-form,
.font-form,
.line-form {
  display: grid;
  grid-template-rows: var(--icon);
  place-items: center;
}

.menu-form,
.line-form {
  grid-template-columns: 1fr var(--icon);
  grid-template-areas: "m x";
}

.font-form {
  grid-template-areas: "a m x";
  grid-template-columns:
    var(--icon)
    1fr
    var(--icon);
}

.menu-form > .main {
  width: 100%;
  overflow-x: auto;

  display: grid;
  grid-auto-columns: var(--icon);
  grid-template-rows: var(--icon);
  grid-auto-flow: column;
  place-items: center;
}

.font-form > .main > input,
.line-form > .main > input {
  border: var(--thin);
  width: 4rem;
  padding: var(--small-gap) var(--gap);
  text-align: center;
}

/** attic forms: find/replace **/

.find-form,
.replace-form {
  display: grid;

  grid-template-columns:
    var(--icon)
    1fr
    repeat(4, var(--icon));

  grid-template-rows: var(--icon);

  place-items: center;
}

.find-form {
  grid-template-areas: "r i q p n x";
}

.replace-form {
  grid-template-areas: "a i q q o w";
}

/** screens: info, search **/

.info,
.search {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr var(--icon);
  grid-template-rows: var(--icon) 1fr;

  grid-template-areas:
    "h x"
    "i i";

  place-items: center;
}

.search > input {
  padding-left: var(--gap);
}

.info > .items,
.search > .items {
  grid-area: i;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.search > .items {
  border-top: var(--thin);
}

.info > .items > *,
.search > .items > * {
  padding: var(--gap) var(--char);
  overflow: hidden;
}

.search > .items > * {
  border-bottom: var(--thin);
}

/** collapsed/hidden **/

.collapsible {
  overflow-y: hidden;

  transition:
    height var(--anim),
    border-bottom-width var(--quick);
}

.collapsed {
  height: 0;
  border-bottom-width: 0;
}

.hidden {
  display: none;
}
