:root {
  --white:  #FFFFFF; /* 1.00 */
  --text:   #D9CCE6; /* 0.75 */
  --tool:   #B399CC; /* 0.50 */
  --hint: #8C66B3; /* 0.25 */
  --back:   #663399; /* 0.00 */
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local("Ubuntu Light"),
    local("Ubuntu-Light"),
    url("fonts/Ubuntu-Light.woff2") format("woff2"),
    url("fonts/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Ubuntu Bold"),
    local("Ubuntu-Bold"),
    url("fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-display: block;
  src:
    local("Material Symbols Outlined"),
    local("MaterialSymbols-Outlined"),
    url("fonts/MaterialSymbolsOutlined.woff2") format("woff2"),
    url("fonts/MaterialSymbolsOutlined.ttf") format("truetype");
}

html,
body,
input,
textarea {
  margin: 0;
  border: 0;
  padding: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  color: var(--text);
  background-color: var(--back);
  -webkit-tap-highlight-color: transparent;

  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;

  touch-action: pan-y;
  scrollbar-color: var(--hint) var(--back);
}

input,
textarea {
  display: block;  /* Avoid scrollbar and visible background */
  outline: 0;  /* Avoid outline on focus */
  resize: none;
}

input::placeholder {
  color: var(--hint);
}

input.small {
  display: inline;
  min-width: 4rem;
  max-width: 4rem;
  text-align: right;
}

input.small,
.section,
.item {
  border-bottom: 0.5px solid var(--hint);
}

.item {
  max-height: 2rem;
  overflow: hidden;
}

.big,
.mid,
.ibox,
.gap {
  display: flex;
  flex: 0 0;
  justify-content: center;
  align-items: center;
}

.big {
  flex: 1 0;
  /* border: 1px solid green; */
}

.mid {
  /* border: 1px solid yellow; */
}

.ibox {
  min-width: 2rem;
  min-height: 2rem;
  /* border: 1px solid red; */
}

.gap {
  min-width: 0.5rem;
  /* border: 1px solid blue; */
}

.row {
  width: 100%;
  min-height: 2rem;
}

.column {
  flex-direction: column;
  min-width: 2rem;
  height: 100%;
}

.start {
  justify-content: start;
}

.header,
.tag {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--tool);
}

.more {
  color: var(--hint);
}

.scrollable {
  overflow-y: scroll;
}

.block {
  display: block;
  width: 100%;
}

.section {
  padding: 0.5rem;
}

ul {
  list-style-type: square;
  margin: 0;
  padding-left: 1em;
}

li::marker {
  color: var(--hint);
}

a {
  text-decoration: none;
}

a,
.icon {
  color: var(--tool);
}

.icon,
.button {
  cursor: pointer;
  user-select: none;
}

.icon {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  /* Let's inherit `font-weight` from text. */
  font-size: 24px;
  font-variation-settings: "opsz" 24, "GRAD" -25; /* Dark Mode */

  display: inline-block;
  line-height: 1;
  vertical-align: middle;

  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
}

a:active,
.icon:active,
.button:active,
.button:active .icon,
.button:active .tag,
::selection {
  color: var(--back);
  background-color: var(--tool);
}

.icon:active {
  border-radius: 2rem;
}

.hidden {
  display: none;
}
