:root {
  --high: #DDCCFF;
  --text: #BBAADD;
  --none: #9988BB;
  --tool: #776699;
  --hint: #554477;
  --back: #332255;

  --gap: 0.5rem;
  --header: 1.2rem;
  --icon: 2rem;
  --thin: 0.5px solid var(--hint);

  --anim: 0.5s;
  --bold: 700;
}

@font-face {
  font-family: "SourceCodePro";
  font-display: swap;
  src:
    local("Source Code Pro"),
    url("fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-display: block;
  src:
    local("Material Symbols Outlined"),
    local("MaterialSymbols-Outlined"),
    url("fonts/MaterialSymbolsOutlined.woff2") format("woff2"),
    url("fonts/MaterialSymbolsOutlined.ttf") format("truetype");
}

* {
  box-sizing: border-box;

  margin: 0;
  outline: 0;  /* Avoid outline on focus */
  border: 0;
  padding: 0;

  color: var(--text);
  background-color: var(--back);
  -webkit-tap-highlight-color: transparent;

  font-family: "SourceCodePro", monospace;
  font-weight: 400;
  font-size: 1rem;
}

.icon {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  /* Let's inherit `font-weight` from text. */
  font-size: 24px;
  font-variation-settings: "opsz" 24, "GRAD" -25; /* Dark Mode */

  display: inline-block;
  line-height: 1;
  vertical-align: middle;

  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
}

html,
body,
.banner,
.page,
.frame,
.search,
.found,
textarea {
  width: 100%;
  height: 100%;
}

body {
  /* Disable "pull-to-refresh" */
  overscroll-behavior-y: contain;
}

input {
  width: 100%;
}

input::placeholder {
  color: var(--hint);
}

ul {
  list-style-type: square;
  padding-left: 1em;
}

li::marker {
  color: var(--hint);
}

a {
  text-decoration: none;
  font-weight: var(--bold);
}

a,
.icon {
  color: var(--tool);
  border-radius: var(--icon);
}

.button {
  cursor: pointer;
  user-select: none;
}

a:active,
a:active > .icon,
.button:active,
.button:active > .icon,
::selection {
  color: var(--high);
  background-color: var(--hint);
}

b {
  font-weight: var(--bold);
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner > *,
.banner .button {
  padding: 0.5rem;
  border-radius: var(--icon);
}

.banner > .header {
  font-size: var(--header);
  font-weight: var(--bold);
}

.page {
  display: flex;
  flex-direction: column;
}

.attic {
  flex: 0 0 auto;
  height: var(--icon);
  border-bottom: var(--thin);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.find-form {
  flex: 1 1 auto;
  display: grid;

  grid-template-columns:
    repeat(2, var(--icon))
    1fr
    repeat(2, var(--icon))
    1fr
    var(--icon);

  grid-template-rows: var(--icon);
  grid-template-areas:
    "p n f o a r x";

  place-items: center;
}

.menu-form,
.line-form {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr var(--icon);
  grid-template-rows: var(--icon);
  grid-template-areas: "m x";
  place-items: center;
}

.menu-form > .main {
  width: 100%;
  overflow-x: auto;

  display: grid;
  grid-auto-columns: var(--icon);
  grid-template-rows: var(--icon);
  grid-auto-flow: column;
  place-items: center;
}

.line-form > .main > input {
  border: var(--thin);
  min-width: 0.2rem;
  max-width: 10rem;
  padding: 0.2rem 0.5rem;
  text-align: center;
}

.frame {
  flex: 1 1 auto;
  display: grid;

  grid-template-columns:
    repeat(2, var(--icon))
    1fr
    repeat(2, var(--icon))
    1fr
    repeat(2, var(--icon))
    1fr
    repeat(2, var(--icon));

  grid-template-rows:
    repeat(3, var(--icon))
    1fr
    repeat(3, var(--icon))
    1fr
    repeat(3, var(--icon));

  grid-template-areas:
    /* Areas/shortcuts */
    "m p q q q q q q q g s"
    ". t t t t t t t t t f"
    ". t t t t t t t t t ."
    ". t t t t t t t t t ."
    "o t t t t t t t t t u"
    "b t t t t t t t t t n"
    "h t t t t t t t t t d"
    ". t t t t t t t t t ."
    ". t t t t t t t t t a"
    "e t t t t t t t t t v"
    "k w . j i . z Z . x c";

  place-items: center;
}

.frame > .header {
  grid-area: q;
  font-size: var(--header);
  font-weight: var(--bold);
  color: var(--high);
  overflow-x: hidden;
}

.frame > .header.pinned {
  color: var(--tool);
}

.frame > .icon {
  transition:
    opacity var(--anim),
    visibility var(--anim);
}

.frame.zen-mode > .icon {
  opacity: 0;
  visibility: hidden;
}

textarea {
  grid-area: t;
  display: block;  /* Avoid parent scrollbar and visible background */
  scrollbar-color: var(--hint) var(--back);
  resize: none;
}

.search {
  display: grid;
  grid-template-columns: 1fr var(--icon);
  grid-template-rows: var(--icon) 1fr;
  grid-template-areas:
    "w x"
    "f f";

  place-items: center;
}

.search > input {
  padding-left: var(--gap);
}

.found {
  grid-area: f;
  border-top: var(--thin);
  overflow-y: auto;
}

.found > .header {
  text-align: center;
}

.found > .header > span {
  padding-left: var(--gap);
  font-size: var(--header);
  font-weight: var(--bold);
  color: var(--tool);
}

.found > .item {
  border-bottom: var(--thin);
  padding: var(--gap);
}

.collapsible {
  transition: height var(--anim);
  overflow-y: hidden;
}

.collapsed {
  height: 0;
}

.hidden {
  display: none;
}
